.devi1{    /* la grande div */
    width: 390px;
    height: 925px;
    top:50%;
	left: 40%;
    background-color: rgb(249, 246, 246);
    position: absolute;

}
 
 
.dem{  /* titre demarrer devis*/
    text-align: center;
    position: absolute;
    left: 25%;
    top: 4%;

}

.i1{   /* position arrow*/
    position: absolute;
    top: 5%;
}

h4{
    position: relative;
    top: 10%;
    left: 4%;
}

::placeholder{
    text-align: center;
   font-style: italic;
   color: black;
}

  /* position des différentes cases*/
.case{    
position: relative;
   border-width: 1px;
   width: 93px;
   height: 63px;
   background-color: rgb(255, 255, 255);
   left: 4%;
}



.case:active{
    background-color:bisque;
} 


/* .case:focus{
    background-color: bisque;
} */



.case1{    
   position: relative;
   border-width: 1px;
   width: 93px;
   height: 63px;
   background-color: rgb(255, 255, 255);
   left: 35%;
   top: -6.76%;

}

.case2{    
    position: relative;
    border-width: 1px;
    width: 93px;
    height: 63px;
    background-color: rgb(255, 255, 255);
    left: 65%;
    top: -17.57%;

}



.date{   /* div de la date */
    position: relative;
    width: 337px;
    height: 114px;
    background-color: #EFEAEA;
    border-radius: 20px;
    left: 7%;
    top: -23%;
}



.val{ /* pour la valeur du véhicule */
    position: relative;
    width: 337px;
    height: 114px;
    background-color: #EFEAEA;
    border-radius: 20px;
    left: 7%;
    top: -24%;

}

.imm{  /* pour l'immatriculation */
    position: relative;
    width: 337px;
    height: 114px;
    background-color: #EFEAEA;
    border-radius: 20px;
    left: 7%;
    top: -25%;
}

    /* position des sous Car; bus; camion*/
   
.Ca{   
    position: relative;
    top: -18%;
    left: 12%;

}

.Bu{
    position: relative;
    top: -21.55%;
    left: 42%;

}

.Cam{
    position: relative;
    top: -25%;
    left: 71%;

}

label{   /* div des differents label*/
    position: relative;
    top: 17%;
    left: 4%;
}

input{  /* div des differents inputs*/
    position: relative;
    top: 30%;
    left: 4%;
    width: 305px;
    height: 33px;
}

.car{   /* position de l'icon car */
    position: relative;
    width: 53px;
    left: 20%;
    top: 5%;
}

.bus{ /* position de l'icon bus*/
    position: relative;
    width: 53px;
    left: 20%;
    top: 5%;

}

.camion{   /* position de l'icon camion*/
    position: relative;
    width: 53px;
    left: 20%;
    top: 5%;
}

.calendar{
    position: relative;
    width: 23px;
    left: 85%;

}



.Moi{  /* pour le boutton demarrer */
    width: 150px;
    height: 55px;
    position: absolute;
    left: 50%;
    background-color: #0F98FC;
    top: 83%;
    font-weight: bold;
    border-color: black;
    border-radius: 5px;
    border-width: 1px;

}

